name: Build Photoflow for Mac
on: [push] # Otomatis jalan setiap kali Anda upload file baru

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pyinstaller
          # Tambahkan library lain jika Anda menambahkannya di masa depan

      - name: Build with PyInstaller
        run: |
          python -m PyInstaller --noconsole --onefile Photoflow.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Photoflow-MacOS
          path: dist/Photoflow # Hasil build di Mac
